html, body {
	height: 100%;
}

body {
	background-image: url(../imgs/login.jpeg);
	background-size: auto;
	background-position: center;
}

ul li a {
	font-size: 17px;
	font-family: "workSans";
	color: rgb(255, 255, 255);
	font-weight: bold;
}

ul li a:hover {
	color: #443020;
}

.form-row button {
	font-size: 17px;
	font-family: "workSans";
	font-weight: bold;
}

h1, p, input {
	font-family: 'workSans';
}

input {
	font-weight: bold;
}



